.OptionButton{
    -fx-font-weight:bold;
    -fx-background-color: #243641;
    -fx-background-radius: 0px;
    -fx-border-color: #243641;
    -fx-border-width: 1px;
    -fx-border-radius: 0px;
    -fx-text-fill: #ffffff;
    -fx-text-alignment: left;
    -fx-font-size: 20px;
}
.TextBig{
   -fx-font-weight:bold;
   -fx-font-size: 28px;
}
.TextMedium{
    -fx-font-weight:bold;
    -fx-font-size: 28px;
}
.TextLow{
    -fx-font-size: 14px;
}
.OptionButton:hover{
    -fx-background-color: #10202d;
    -fx-border-color:#10202d;
}
.TweetBox{
    -fx-font-size: 12px;
    -fx-background-color: #243641;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-border-color: #6a3fe1;
    -fx-fill-color: #10202d;

}
.CircleImg{
    -fx-border-radius: 100px;
    -fx-background-radius: 100px;
}
.Button{
    -fx-font-weight:bold;
    -fx-background-color: #243641;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-border-color: #6a3fe1;
    -fx-text-fill: #ffffff;
    -fx-text-alignment: center;
    -fx-font-size: 20px;
}
.Button:hover{
   
   -fx-background-color:#6a3fe1;
}

.BigAnchorPane{
    -fx-background-color: #10202d;
}
.TextBox{
    -fx-font-family: "Roboto";
    -fx-font-size: 18px;
    -fx-background-color: #243641;
    -fx-background-radius: 5px;
    -fx-border-radius: 10px;
    -fx-border-color: #6a3fe1;
    -fx-text-fill: #ffffff;
    -fx-text-alignment: center;
}
.CircleButton{
    -fx-border-radius: 100px;
    -fx-background-radius: 100px;
    -fx-background-color:  #3d4f5d;
    -fx-border-color: #6a3fe1;
}
.Bar{
    -fx-background-color:  #02111c;
}
.LateralBar{
    -fx-background-color: #243641 ;
}
.SelectButton{
   -fx-background-color: #10202d;
   -fx-font-size: 20px;
   -fx-text-fill: #606e78;
}